body {
    background-image: url(/pics/1276429.jpg);
    color: rgb(25, 26, 26);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-origin: padding-box;



}