.pics {
    width: 100px;
    height: 120px;

}

#p1 {
    float: left;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
}


#p2 {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0%;
}