body {
    margin: 0;
}

.box {
    border: 5px solid black;
    font-size: 1.5em;
    height: 350px;
    width: 800px;
}

#p1 {
    background-color: red;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

#p2 {
    background-color: blue;
    margin-right: auto;
    margin-left: auto;
}